@font-face {
  font-family: "iconfont"; /* Project id 3303381 */
  src: url('./iconfont.woff2?t=1657594908570') format('woff2'),
       url('./iconfont.woff?t=1657594908570') format('woff'),
       url('./iconfont.ttf?t=1657594908570') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wechat:before {
  content: "\e635";
}

.icon-wechat1:before {
  content: "\e695";
}

.icon-wechat2:before {
  content: "\e868";
}

.icon-wechat3:before {
  content: "\e628";
}

.icon-wechat4:before {
  content: "\e621";
}

.icon-wechat5:before {
  content: "\e888";
}

.icon-wechat-fill:before {
  content: "\e883";
}

.icon-WeChat:before {
  content: "\e641";
}

.icon-wechat6:before {
  content: "\e610";
}

.icon-wechat7:before {
  content: "\e618";
}

.icon-wechat8:before {
  content: "\e619";
}

.icon-wechat9:before {
  content: "\e66b";
}

.icon-fangdajing:before {
  content: "\e637";
}

.icon-spin:before {
  content: "\e606";
}

.icon-fangdajing1:before {
  content: "\e60d";
}

.icon-yongyan:before {
  content: "\e600";
}

.icon-Aa:before {
  content: "\e636";
}

